<section class="mx-auto" style="width: 500px;">

<div class="row d-flex justify-content-around">

<!--Grid column-->
<div class="col-md-9 mb-md-0 mb-5">
<br>
<h2 class="h3-responsive font-weight-bold text-center my-4">Propose ton incroyable événement</h2>
            <%= form_tag url_for(action: 'create'), method: 'post', class: 'contact-form', id: 'contact-form' do %>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form mb-0 form-group">
                          <%= label_tag :event_start_date, "Date de l'événement" %>
                          <%= text_field_tag :event_start_date , nil, class: 'form-control', type:"date", value:Date.today%>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0 form-group">
                          <%= label_tag :event_duration, "Durée" %>
                          <%= text_field_tag :event_duration , nil, class: 'form-control', placeholder:"Uniquement valable en minutes"%>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0 form-group">
                          <%= label_tag :event_title, "Ton super titre" %>
                          <%= text_field_tag :event_title , nil, class: 'form-control', placeholder:"Alléchant - maximum 140 caractères"%>
                        </div>
                    </div>
                </div>

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0 form-group">
                          <%= label_tag :event_description, "Description" %>
                          <%= text_field_tag :event_description , nil, class: 'form-control', placeholder:"Alléchante - maximum 1000 caractères"%>
                        </div>
                    </div>
                </div>

                <!--Grid row-->
                  <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0 form-group">
                          <%= label_tag :event_price, "Prix de l'événement" %>
                          <%= text_field_tag :event_price , nil, class: 'form-control', placeholder:"Pas gratos, touche pas au grisbi!"%>
                        </div>
                    </div>
                </div>

                <!--Grid row-->
                  <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0 form-group">
                          <%= label_tag :event_location, "Où qu'il est?" %>
                          <%= text_field_tag :event_location, nil, class: 'form-control', placeholder:"Adresse complète, in Paris olalala"%>
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-center text-md-left">
                  <%= submit_tag "C'est parti !", class: 'btn btn-danger form-control' %>
                </div>

                <div class="status"></div>
                <br>
        <% end%>
</section>